.IngredientItem {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.25rem;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: white;
    position: relative;
    min-height: 1.625rem;
    cursor: pointer;
    margin: auto 5px;
}
.IngredientItem:hover {
    color: rgb(0, 109, 252);
}